@charset "utf-8";
/* CSS Document */
body {
	padding:5%;
	background-color:#daede2;
	}
	.page-wrapper{
		background:#77c4d3;
		}
   hr{
	   margin:20px;
	   border-top:1px solid #ea2e49;
	   
	   }
	h1{
		padding:1em 1em;
		margin: 2% 30% 0px 5% ;
		color:#FFF background:#ea2e49;
	letter-spacing:2px;
		font-family:"tablet-gothic", verdana, arial, sans-serif;
		font-weight:300;}
		h2{
			word-wrap:break-word;
			margin:20px 20px 0px 5%;
			color:#FFF;
			line-height:1em;
			letter-spacing:1px;
			font-size:8em;
			font-weight:900;
			font-family:"tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;}
			
		h3 {
			text-shadow:5px 5px 25px #fff;
			color:#FFF;
			font-size:2.25em;
			margin:20px 20px 0px 5%;
			padding:0.5em 0 0.25em 0;
			line-height:1px;
			letter-spacing:0.5px;
			font-weight:200px;
			font-family:'Montserrat', sans-serif;}	
			//colocar essa fonte sincronizada com o google mais tarde
		p {
			text-align:justify;
			color:#FFF;
			margin:20px 20px 0px 5%;
			padding:0.5em 0;
			font-size:1em;
			text-transform:uppercase;
			line-height:1.5em;
			letter-spacing:2px;
			font-weight:400;
			font-family:"tablet-gothic", verdana, arial, sans-serif;}